#ajax-modal.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true","data-dismiss" => "modal", :type => "button"} &times;
        %h3.modal-title 招待しました！
      .modal-body
        .modal-body-content FacebookMessenger 経由で招待メッセージを送付しました
        .ajax-loader
      .modal-footer
        %button.btn{"data-dismiss" => "modal", :type => "button"} Close