:plain
  var title       =   '.modal-title',
      loader      =   '.ajax-loader',
      content     =   '.modal-body-content',
      dataRemote  =   'a[data-remote=true]',
      modal       =   '#ajax-modal';
      btn         =   '.btn'
  
  
  $(title).html('招待しました！');
  $(content).html('FacebookMessenger 経由で紹介メッセージを送付しました');

  $(btn).on('click',function(){
  	$(title).html('招待中です！');
    $(content).html('FacebookMessenger 経由で紹介メッセージを送付しています');

  });
 