# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Constants
config/initializers/constants.rb

# OS X
.DS_Store

# Rubymine Configuration Files
/.idea

# Ignore dump.rdb
dump.rdb
