%h2 @profile.name
%p
  = image_tag @profile.picture_url, alt: @profile.name
%h3 とは、この方がお知り合いです！
%p 誰に紹介してもらうかを選択してください。
%ul
  - @vias.each do |via|
    %li
      = via.name
      %br>
      = link_to relation_path(user: @profile.fb_id, via: via.fb_id), class: 'btn btn-primary'
      %i.fa.fa-envelope-o><
      この人に紹介を頼む
