
<ul>
<p>とりあえず友人のプロフィール画像</p>

<img src="<%=@pic_data["picture"][p"data"]["url"] %>">
</br>
<p>自分のウォール（test）</p>
</br>
<% @graph_data.each do |status| %>
<%= status["message"] %> (<i><%=status["updated_time"]%></i>)<hr>
<% end %>
</ul>