%h3 フレンズポップのつかいかた
%ol
  %li 下記の友人のうち、友人がたくさんいそうな人からチェックしてみましょう。友人の友人一覧が表示されます
  %li 気になる人が見つかったらクリックしてみましょう。その人の基本情報と共通の友人一覧が見られます
  %li 友人にメッセージを送り、その人のことを教えてもらうことや、紹介を依頼することができます
  %li 友人一覧が出ない場合は、#{link_to('友人をフレンズポップに招待しましょう！',invite_path)}

%h3 フレンズポップを利用している友人一覧
%ul
.via-candidates.row
  - @friends.each do |f|
    .via-candidate.col-xs-6.col-sm-3.col-md-2
      = link_to(image_tag(f.picture_url,size:"100x100",alt:"Pic") ,friends_path(@current_user.fb_id,f.fb_id))
      %br
      #{f.name}

