%h3 フレンズポップのつかいかた
%ol
  %li 下記の友達のうち、友達がたくさんいそうな人からチェックしてみましょう
  %li 友人の友達一覧が表示されます。検索で絞り込みができます
  %li 気になる人が見つかったらクリックしてみましょう
  %li その人の基本情報と共通の友人一覧が見られるので、紹介を依頼してみましょう！

%h3 フレンズポップを利用している友人一覧
%ul
.via-candidates.row
  - @friends.each do |f|
    .via-candidate.col-xs-6.col-sm-3.col-md-2
      = link_to(image_tag(f.picture_url,size:"100x100",alt:"Pic") ,friends_path(@current_user.fb_id,f.fb_id))
      %br
      #{f.name}

%br
  .like_button
    .fb-like{"data-action" => "like", "data-href" => "http://friends-pop.kumonos.jp/", "data-layout" => "standard", "  datahare" => "true", "data-show-faces" => "true", "data-count"=>"vertical"}
    %br
    %a.twitter-share-button{"data-hashtags" => "friends-pop", "data-lang" => "ja", "data-url" => "http://friends-pop.kumonos.p/", :href=>"https://twitter.com/share"} ツイート
    %br
    .g-plusone{:href=>"http://friends-pop.kumonos.jp/","data-annotation" => "inline", "data-size" => "medium", "data-  width" => "300"}


:javascript
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1452215268348852&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

:javascript
  (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/platform.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
          