%h3 フレンズポップのつかいかた
%ol
  %li カワイイ女子、イケメン男子の知り合いがいそうな友人を選択して、知り合いを表示しましょう
  %li 気になる人が見つかったらクリック。その人の基本情報と共通の友人一覧が見られます
  %li 友人にメッセージを送り、その人のことを教えてもらうことや、紹介を依頼することができます
  %li #{link_to('友人招待機能',new_invite_path)}で、カワイイ女子、イケメン男子をもっと探してみよう！

%h3 フレンズポップを利用している友人
%ul
.via-candidates.row
  - @friends.each do |f|
    .via-candidate.col-xs-6.col-sm-3.col-md-2
      = link_to(image_tag(f.picture_url,size:"100x100",alt:"Pic") ,friends_path(@current_user.fb_id,f.fb_id))
      %br
      #{f.name}

