!!!
%haml{:lang => "ja"}
    %head
        %meta{:charset => "UTF-8"}
    %body
      
        -# tag
        %h3 You
        = @current_user.fb_id 
        %br
        = @current_user.name

        %h3 friends
 
        %ul
        - @friends_pic.each do |f|
            -# %img{:src =>"#{f["picture"]["data"]["url"].to_s}",:alt =>"pic",:width =>"100", :height =>"100"}
            %li #{f["picture"]["data"]["url"].to_s}
         

    
    
