#content
  %h1 Who's Who ++ 
  %p 「あなたの友人」から「友人の友人」を紹介してもらうためのサービスです 
  %p 紹介依頼テンプレートを利用して、気軽にコンタクトをとってみよう
  %br

  = link_to '/auth/facebook', class: 'btn btn-primary' do
    %fb facebookからログイン
    %i.fa.fa-facebook.fa-2x

.footer
  %hr
    2014 kumonos all rights reserved

:javascript
  window.onload=function(){
  var css=document.createElement("link");
  css.setAttribute("rel","stylesheet");
  css.setAttribute("type","text/css");
  css.setAttribute("href","/assets/intro.css");
  document.getElementsByTagName("head")[0].appendChild(css);
  }


    
    

