- content_for(:header) do
  = stylesheet_link_tag "intro"

#content
  .row
    .col-xs-12
      =image_tag 'http://res.cloudinary.com/whoswhoplus/image/upload/v1402806372/title_friends-pop_wdovqb.png' ,class:'img-responsive center-block'
      %p あなたの周りの「カワイイ女子」「イケメン男子」が見つかる
      %br
      = link_to '/auth/facebook', class: 'btn btn-primary' do
        %i.fa.fa-facebook.fa-2x
        %fb facebookからログイン
      %br  
      %p  facebookに自動的に投稿されることはありません<br />自分の投稿や情報はfacebookに設定された範囲でしか公開されません    
  %hr
  .row
    .col-xs-12.col-sm-6  
      =image_tag 'http://res.cloudinary.com/whoswhoplus/image/upload/v1405007758/img1.png' ,class:'img-responsive center-block'
    .col-xs-12.col-sm-6
      %h1 「カワイイ女子」「イケメン男子」が探せる
      %p facebookの友人の知り合いを検索できます。
      %p 異性の知り合いが多い友人をフレンズポップに誘いましょう。
      %p たくさん誘えば誘うほど、カワイイ/イケてる異性を見つける<br /> 確率があがります。
      
  %hr
  .row
    .col-xs-12.col-sm-6
      %h1 紹介を頼める
      %p カワイイ/イケてる異性を見つけたら画像をクリックして<br />みましょう。誰の友人か分かります。
      %p その友人経由で紹介してもらうことができます。
      %p 友人経由なので、高確率で出会えます！
    .col-xs-12.col-sm-6  
      =image_tag 'http://res.cloudinary.com/whoswhoplus/image/upload/v1405007518/img2.png' ,class:'img-responsive center-block'

:javascript
  $(document).ready(function() {
    var w = $(window).width();
    if (w <= 320){
      $.backstretch("http://res.cloudinary.com/whoswhoplus/image/upload/c_scale,e_blur:400,w_400/v1398949918/xmechich13oph2k3bkqd.jpg");
    } else {
      $.backstretch("http://res.cloudinary.com/whoswhoplus/image/upload/e_blur:400/v1398954538/k4bpqnu0vbdulpaf6d76.jpg");
    }
  });
