#content
  %h1 Who's Who ++ 
  %p 「あなたの友人」から「友人の友人」を紹介してもらうためのサービスです 
  %p 紹介依頼テンプレートを利用して、気軽にコンタクトをとってみよう
  %br

  = link_to '/auth/facebook', class: 'btn btn-primary' do
    %fb facebookからログイン
    %i.fa.fa-facebook.fa-2x

.footer
  %hr
    2014 kumonos all rights reserved

    
    

