- content_for(:title) {"Friends Pop (フレンズポップ)"}
- content_for(:header) do
  = stylesheet_link_tag "intro"

#content
  .row
    .col-xs-12
      =image_tag 'http://res.cloudinary.com/whoswhoplus/image/upload/v1400415058/title_nxelar.png' ,class:'img-responsive center-block'
      %p 「友人の友人」を探そう、つながろう
      %br
    
      = link_to '/auth/facebook', class: 'btn btn-primary' do
        %fb facebookからログイン
        %i.fa.fa-facebook.fa-2x

  %hr
  .row
    .col-xs-12.col-sm-6  
      =image_tag 'http://res.cloudinary.com/whoswhoplus/image/upload/c_scale,h_400,w_400/v1399394266/whoswho_sigqob.jpg' ,class:'img-responsive center-block'
    .col-xs-12.col-sm-6
      %h2 「友人の友人」を探せる
      %p フレンズポップに登録している友人から</br>「友人の友人」を検索することができます。
      %p 年齢、性別など、ニーズに応じて</br>絞込みも容易です。
      %h2 「友人」に紹介を依頼できる
      %p 友人に気になる「友人の友人」の紹介を</br>依頼することができます。
      %p 様々な依頼テンプレートが用意されて</br>いるため、気軽に依頼することができます。

  .fb-like{"data-action" => "like", "data-href" => "https://friends-pop.kumonos.jp", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-count"=>"vertical"}
  %br
  %a.twitter-share-button{"data-hashtags" => "friends-pop", "data-lang" => "ja", "data-url" => "https://friends-pop.kumonos.jp", :href=>"https://twitter.com/share"} ツイート
  %br
  .g-plusone{:href=>"https://friends-pop.kumonos.jp","data-annotation" => "inline", "data-size" => "medium", "data-width" => "300"}
  .footer
    %hr
      2014 
      %a{:href => 'http://kumonos.jp/'} kumonos
      all rights reserved
      
#fb-root
:javascript
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1452215268348852&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

:javascript
  (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/platform.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

:javascript
  $(document).ready(function() {
    var w = $(window).width();
    if (w <= 320){
      $.backstretch("http://res.cloudinary.com/whoswhoplus/image/upload/c_scale,e_blur:400,w_400/v1398949918/xmechich13oph2k3bkqd.jpg");
    } else {
      $.backstretch("http://res.cloudinary.com/whoswhoplus/image/upload/e_blur:400/v1398954538/k4bpqnu0vbdulpaf6d76.jpg");
    }
  });

    
    

