- content_for(:header) do
  = stylesheet_link_tag "privacy"
%h2 プライバシーポリシー

%h3 1.はじめに
%p
  フレンズポップのプライバシーポリシーについてご質問がある場合は、
  %a{ href: 'mailto:whoswhoplus-support@kumonos.jp' } whoswhoplus-support@kumonos.jp
  までご連絡ください。

%h3 2.収集する情報の範囲
%p
  ユーザーからフレンズポップに提供していただく情報にはFacebookのユーザー情報のうち、以下のものが含まれます。

  %h4 ご自身の情報
  %p
    フレンズポップ登録時に、Facebookに登録されているプロフィール画像、名前、性別、生年月日、交際ステータスの情  報を提供いただきます。Facebook上でプライバシー設定をされている場合はこれらの情報は取得されません。
  
  %h4 Facebook上の友達の情報
  %p
    ご自身がFacebook上でつながっている友達情報のうち、プロフィール画像、名前、性別、生年月日、交際ステータスの  情報を提供いただきます。ご自身の友達がFacebook上でプライバシー設定をされている場合はこれらの情報は取得され  ません。

%h3 3.利用目的
%p
  フレンズポップを利用しているユーザー間でお互いの友達を検索、紹介するために利用します。

%h3 4.安全確保の措置
%p
  フレンズポップは、個人情報の漏洩を防止し、安全管理のために必要かつ適切な措置を講じます。

%h3 5.個人情報の第三者提供について
%p
  フレンズポップは、個人情報保護法等の法令に定めのある場合を除き、個人情報をフレンズポップ外の第三者へ提供することはございません。

%h3 6.個人情報の開示・訂正・削除等について
%p
  フレンズポップは、ご本人から自己の個人情報についての開示の請求がある場合、速やかに開示します。
  その際、ご本人であることが確認できない場合には、開示に応じません。
%p
  ご本人から訂正・削除の請求がある場合、速やかにこれらの請求に対応致します。その際、ご本人であることが確認できない場合には、これらの請求に応じません。
