html, body { height: 100%; }

body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    text-align: center;
    color: #473d20;
    background-attachment: fixed !important;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    }

h1 {
    font-family: 'League Gothic Regular', Helvetica, sans-serif;
    font-size: 80px;
    line-height: 1em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px -1px 1px #333;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
            
hr { margin: 40px 0; height: 1px; border: 0; background-color: #ccc; }
p {  margin: 0 auto 20px auto; }
a { color: #099; text-decoration: none; border-bottom: 1px dotted #099; }

fb {
    color: #FFF;font-size:20px;

    
}

#content { 
    
    margin: 0 auto; padding: 10px 40px 20px 40px;
    background: #FFF;
    background: rgba(255, 255, 255, 0.90);
}

    
.footer { clear: both; text-align: left; color: #222; font-size: 14px; }
    .footer hr { margin-top: 40px; margin-bottom: 10px; }
    .footer span { float: right; }
    .footer a { color: #0000ff; text-decoration: none; border-bottom: 1px dotted #999; }
    .footer a:hover { color: #666; }